/* .App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #3a5894;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2%;
}

.App-link {
  color: #09d3ac;
}

.search-bar {
  background:white;
}  */

.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #1a2d52 0%, #3a5894 100%);
}

.search-form {
  min-height: 10vh;
  background: rgb(197, 193, 193);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  /* width: 50%; */
  display: flex;
  border: none;
  padding: 10px;
  justify-content: center;
}

.football-stats {
  display: grid;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

@media all and (min-width: 600px) {
  .football-stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

}
