.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #1a2d52 0%, #3a5894 100%);
}

.App-header {
  background: rgb(76, 102, 124);
  border-style: outset;
}

.search-form {
  /* min-height: 10vh; */
  background: rgb(197, 193, 193);
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.search-bar {
  display: flex;
  border: none;
  padding: 10px;
  justify-content: center;
}

.football-stats {
  display: grid;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.search-button{
  min-height: 10vh;
  background: rgb(197, 193, 193);
  
}

@media all and (min-width: 600px) {
  .football-stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}